<!DOCTYPE html>
<html data-ng-app="app">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Boards</title>
	<link rel="stylesheet" href="assets/css/fonts.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body data-ng-controller="AppCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="logo-wrapper text-center">
					<img src="assets/img/logo.png" alt="logo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="main-box" data-ng-controller="CaruselCtrl">
					<div class="box-boards">
						<button type ="button" ng-click="prev(cards)" class="carusel-btn carusel-prev">
							<img src="assets/img/button-next.png" alt="prev">
						</button>
						<div class="carusel">
							<div class="carusel-item {{ caruselClass[key] }}"  ng-repeat="(key, card) in cards">
								<div class="col-md-12">
									<div class="row">
										<div class="col-xs-6" ng-show="(key == 0)">
											<div class="unit unit-size" ng-click="setActive(key + 'left')" ng-class="{'active' : activeMenu == key + 'left'}">
												<div class="unit-start" ng-click="v.unitStart = !v.unitStart" ng-show="v.unitStart">
													<div class="unit-start-content text-center">
														<span><span>+</span></span>
														<p>Wprowadź własne wymiary deski</p>
													</div>
												</div>
												<div class="unit-form text-center">
													<form ng-init="initForm(formbBoardY0, formbBoardX, formSeam)" name="formBoard" ng-submit="submitForm(formBoard)">
														<div class="input-fiel form-group">
															<label class="active" for="board_y0">Długość, mm</label>
															<input  type="text" 
																    data-ng-model="formbBoardY0" 
																	class="validate" 
																	id="board_y0" 
																	required 
																	name="formBoardLength" 
																	ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
														</div>
														<div class="input-field form-group">
															<label class="active" for="board_x">Szerokość, mm</label>
															<input  type="text" 
																	data-ng-model="formbBoardX" 
																	class="validate" 
																	id="board_x" 
																	required 
																	ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
														</div>
														<div class="input-field form-group">
															<label class="active" for="seam">Szew, mm</label>
															<input  type="text" 
																	data-ng-model="formSeam" 
																	class="validate" 
																	id="seam" 
																	required 
																	ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
														</div>
														<button type="submit" 
																ng-disabled="formBoard.$invalid"
																ng-click="boardParamForm(formbBoardY0, formbBoardX, formSeam); 					 
																    	fullDisabledChange()" 
															    class="board-butt">Zatwierdź  >
														</button>
													</form>
												</div>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="unit" ng-click="blurBlockChange(); 
																		fullDisabledChange();
																		boardParamsR(card.right); 
																		v.unitStart = true;
																	 	boardGiveParams(card.right.description, card.right.price); setActive(key + 'right')" 
																	 	ng-class="{'active' : activeMenu == key + 'right'}">
												<div class="unit-picture">
													<img ng-src="{{ card.right.src }}" alt="picture boards"/>
												</div>
												<p class="unit-description text-center">{{ card.right.description }}</p>
												<span class="unit-price text-center">
													{{ card.right.price.split('.')[0] }}
													<sup>{{ card.right.price.split('.')[1] }}</sup>
												</span>
											</div>
										</div>
										<div class="col-xs-6" ng-show=" (key > 0)">
											<div class="unit" ng-click="blurBlockChange(); 
																		fullDisabledChange();
																		boardParamsR(card.left); 
																		v.unitStart = true;
																	 	boardGiveParams(card.left.description, card.left.price); setActive(key + 'left')" 
																	 	ng-class="{'active' : activeMenu == key + 'left'}">
												<div class="unit-picture">
													<img ng-src="{{ card.left.src }}" alt="picture boards" />
												</div>
												<p class="unit-description text-center">{{ card.left.description }}</p>
												<span class="unit-price text-center">
													{{ card.left.price.split('.')[0] }}
													<sup>{{ card.left.price.split('.')[1] }}</sup>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button type ="button" 
								ng-click="next(cards);" 
								class="carusel-btn carusel-next">
								<img src="assets/img/button-prev.png" alt="next">
						</button>	
					</div>
				</div>	
			</div>
			<div class="col-xs-8">
				<div class="main-box main-box-terrace" ng-class="{'active': blurBlock, 'disabled-terrace': fullDisabled }">
					<div class="box-terrace">
						<div class="row">
							<div class="col-xs-3" data-ng-controller="CaruselFigureCtrl">
								<div class="carusel-figure-wrapper">
									<button type ="button" ng-click="prev(figures)" class="carusel-btn carusel-prev" ng-hide="true">
										<img src="assets/img/button-next.png" alt="prev">
									</button>
									<div class="carusel-figure">
										<div class="carusel-figure-item {{ caruselClass[key] }}"  ng-repeat="(key, figure) in figures">
											<div class="radio" ng-class="{'active': v.type == key}">
												<label for="{{ 'optionsRadios'+ key }}" class="label-type">
													<span><img src="{{ figure.src }}" alt="figure"></span>
													<input  type="radio" 
														    name="optionsRadios" 
														    id="{{ 'optionsRadios'+ key }}" 
														    ng-model="v.type" 
														    value="{{ key }}" 
														    class="no-visible" 
														    required 
														    ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
												</label>
											</div>
										</div>
									</div>
									<button type ="button" 
											ng-click="next(figures)" 
											class="carusel-btn carusel-next" 
											ng-hide="true">
											<img src="assets/img/button-prev.png" alt="next">
									</button>
								</div>
							</div>
							<div class="col-xs-9">
								<div class="terrace-field">
									<div class="terrace-figure-wrapper">
										<div class="terrace-figure-full" data-ng-show="v.type == 0">
											<div class="figure-square figure-light" ng-class="{ active:borderFigureBottom, activeleft:borderFigureLeft }">
												<span class="figure-border border-a">a</span>
												<span class="figure-border border-b">b</span>
											</div>
										</div>
										<div class="terrace-figure-full" data-ng-show="v.type == 1">
											<div class="figure-sqtwo-1 figure-light" ng-class="{ active:borderFigureTwoTop, activeleft:borderFigureTwoLeft }">
												<span class="figure-border border-c">c</span>
												<span class="figure-border border-d">d</span>
											</div>
											<div class="figure-sqtwo-2 figure-light" ng-class="{ active:borderFigureBottom, activeleft:borderFigureLeft }">
												<span class="figure-border border-a">a</span>
												<span class="figure-border border-b">b</span>
											</div>
										</div>
										<div class="terrace-figure-full" data-ng-show="v.type == 2">
											<div class="figure-circle-1 figure-light" ng-class="{ active:borderFigureTwoTop}">
												<span class="figure-border border-c">c</span>
												<span class="figure-border border-d">d</span>
												<span class="circle-radius" ng-class="{  activeFigure:borderFigureTwoLeft }"></span>
											</div>
											<div class="figure-circle-2 figure-light" ng-class="{ active:borderFigureBottom, activeleft:borderFigureLeft }">
												<span class="circle-width-inside" ng-class="{  activeFigure:borderFigureTwoTop }"></span>
												<span class="figure-border border-a">a</span>
												<span class="figure-border border-b">b</span>
											</div>
										</div>
										<div class="terrace-figure-full" data-ng-show="v.type == 3">
											<div class="figure-boot">
												<div class="figure-boot-1 figure-light" ng-class="{ active:borderFigureTwoTop, activeRight:trapezeRight}"></div>
												<div class="figure-boot-2 figure-light" ng-class="{ active:borderFigureBottom, activeright:borderFigureTwoLeft}"></div>
												<span class="figure-boot-left" ng-class="{  activeFigure:borderFigureLeft }"></span>
												<span class="figure-boot-top" ng-class="{  activeFigure:trapezeTop }"></span>
												<span class="figure-border border-a">a</span>
												<span class="figure-border border-b">b</span>
												<span class="figure-border border-z1">z1</span>
												<span class="figure-border border-c">c</span>
												<span class="figure-border border-d">d</span>
												<span class="figure-border border-z0">z0</span>
											</div>
										</div>
									</div>
									<div class="terrace-size">
										<form  name="terraceSize">
											<div class="input-row clearfix">
												<div class="input-field" data-ng-show="v.type <='2' ">
													<label class="active" for="terrace_x0">Strona A, m</label>
													<input 	type="text" 
															data-ng-model="terrace.x[0]" 
															class="validate" 
															id="terrace_x0" 
															ng-focus="borderFigureBottom = true" 
															ng-blur="borderFigureBottom = false" 
															required 
															ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
												</div>
												<div class="input-field input-margin" data-ng-show="v.type =='3' ">
													<label class="active" for="terrace_y03">Strona A, m</label>
													<input 	type="text" 
															data-ng-model="terrace.y[0]" 
															class="validate" 
															id="terrace_y03" 
															ng-focus="borderFigureBottom = true" 
															ng-blur="borderFigureBottom = false" 
															required 
															ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
												</div>
												<div class="input-field" data-ng-show="v.type == '0' || v.type == '1' || v.type == '2'">
													<label class="active" for="terrace_y0"> Strona B, m</label>
													<input 	type="text" 
															data-ng-model="terrace.y[0]" 
															class="validate" 
															id="terrace_y0" 
															ng-focus="borderFigureLeft= true" 
															ng-blur="borderFigureLeft=false" 
															required 
															ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
												</div>
												<div class="input-field" data-ng-show="v.type == '3'">
													<label class="active" for="terrace_y11"> Strona B, m</label>
													<input 	type="text" 
															data-ng-model="terrace.y[1]" 
															class="validate" 
															id="terrace_y11" 
															ng-focus="borderFigureLeft= true" 
															ng-blur="borderFigureLeft=false" 
															required 
															ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
												</div>
											</div>
											<div class="input-row clearfix">
												<div>
													<div class="input-field" data-ng-show="v.type == '1' || v.type == '2'">
														<label class="active" for="terrace_y1" data-ng-show="v.type == '1'"
														>Strona C, mm </label>
														<label class="active" for="terrace_y1" data-ng-show="v.type == '2'">Ppromień C, m</label>
														<input 	type="text" 
																data-ng-model="terrace.y[1]" 
																class="validate" 
																id="terrace_y1" 
																ng-focus="borderFigureTwoLeft = true" 
																ng-blur="borderFigureTwoLeft = false" 
																required 
																ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
													</div>
													<div class="input-field" data-ng-show="v.type == '3'">
														<label class="active" for="terrace_x00">Strona C, mm </label>
														<input 	type="text" 
																data-ng-model="terrace.x[0]" 
																class="validate" 
																id="terrace_x00" 
																ng-focus="borderFigureTwoLeft = true" 
																ng-blur="borderFigureTwoLeft = false" 
																required 
																ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
													</div>
												</div>
												<div  data-ng-show="v.type == '1' || v.type == '2' || v.type == '3'">
													<div class="input-field form-group">
														<label class="active" for="terrace_x1"> Strona D, m</label>
														<input 	type="text" 
																data-ng-model="terrace.x[1]" 
																class="validate" 
																id="terrace_x1"
																ng-focus="borderFigureTwoTop = true" 
																ng-blur="borderFigureTwoTop = false" 
																required 
																ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
													</div>
												</div>
											</div>
											<div class="input-row clearfix">
												<div class="input-field form-group" data-ng-show="v.type == '3'">
													<label class="active" for="terrace_z1" data-ng-show="v.type == '3'">Z1, m</label>
													<input 	type="text" 
															data-ng-model="terrace.z[1]" 
															class="validate" 
															id="terrace_z1"
															ng-focus="trapezeRight = true" 
															ng-blur="trapezeRight = false" 
															required 
															ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
												</div>
												<div data-ng-show="v.type == '3'">
													<div class="input-field form-group">
														<label class="active" for="terrace_z0" data-ng-show="v.type == '3'">Z0, m</label>
														<input 	type="text" 
																data-ng-model="terrace.z[0]" 
																class="validate" 
																id="terrace_z0" 
																ng-focus="trapezeTop = true" 
																ng-blur="trapezeTop = false" 
																required 
																ng-pattern="'^[0-9]*[.]?[0-9]+$'" />
													</div>
												</div>
											</div>
											<div class="input-row">
												<button class="btn-calc text-center" 
														data-toggle="modal" 
														data-target="#myModal"  
														data-ng-click="calculate()" 
														type="button ">Oblicz
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Modal results -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
		    <div class="main-box results-box">
              	<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              	<div class="col-lg-12">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-lg-4">
									<div class="results-terrace">
										<div class="canvas canvas0"></div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="results-terrace">
										<div class="canvas canvas1"></div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="results-terrace">
										<div class="canvas canvas2"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="results-box">
										<div class="row">
											<div class="col-md-4">
												<div class="result-container">
													<span class="board-quantity">X{{ boardsCount[0][0] }} <span>szt.</span></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="result-container">
													<span class="board-quantity">X{{ boardsCount[1][0] }} <span>szt.</span></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="result-container">
													<span class="board-quantity">X{{ boardsCount[2][0] }} <span>szt.</span></span><br>
													<span class="board-quantity">X{{ boardsCount[2][1] }} <span>szt.</span></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="result-container">
													<div class="results-board"  ng-show="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
													<div class="results-board"  ng-show="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
													<div class="results-board"  ng-hide="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1 ] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
													<div class="results-board"  ng-hide="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1 ] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-center">
									<a href="#" class="board-pocaz">Pokaż całą listę  ></a>
									<hr class="board-hr">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="total-results">
										<span>suma</span> 
										<span>{{ (boardsCount[0][0] * boardPrice).toFixed(2) }} PLN</span>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="total-results">
										<span>suma</span> 
										<span>{{ (boardsCount[1][0] * boardPrice).toFixed(2) }} PLN</span>
									</div>
								</div>
								<div class="col-md-4 text-right">
									<div class="total-results">
										<span>suma</span> 
										<span>{{ ((boardsCount[2][0] *1 + boardsCount[2][1]*1 ) *boardPrice).toFixed(2) }} PLN</span>
									</div>
								</div>
							</div>
							<hr class="board-hr">
							<div class="row">
								<div class="col-lg-4">
									<div class="results-terrace">
										<div class="canvas canvas3"></div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="results-terrace">
										<div class="canvas canvas4"></div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="results-terrace">
										<div class="canvas canvas5"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="results-box">
										<div class="row">
											<div class="col-md-4">
												<div class="result-container">
													<span class="board-quantity">X{{ boardsCount[3][0] }} <span>szt.</span></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="result-container">
													<span class="board-quantity">X{{ boardsCount[4][0] }} <span>szt.</span></span>
												</div>
											</div>
											<div class="col-md-4">
												<div class="result-container">
													<span class="board-quantity">X{{ boardsCount[5][0] }} <span>szt.</span></span><br>
													<span class="board-quantity">X{{ boardsCount[5][1] }} <span>szt.</span></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="result-container">
													<div class="results-board"  ng-show="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
													<div class="results-board"  ng-show="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
													<div class="results-board"  ng-hide="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1 ] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
													<div class="results-board"  ng-hide="v.unitStart">
														<span class="results-price">
																 {{ boardPrice.split('.')[0] }} 
															<sup>{{ boardPrice.split('.')[1 ] }}</sup>
															<span>/szt.</span>
														</span>
														<div class="result-board-pic">
															<img src="assets/img/board.png" alt="picture">
														</div>
														<p class="board-description">{{ boardName }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-center">
									<a href="#" class="board-pocaz">Pokaż całą listę  ></a>
									<hr class="board-hr">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="total-results">
										<span>suma</span> 
										<span>{{ (boardsCount[3][0] * boardPrice).toFixed(2) }} PLN</span> 
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="total-results">
										<span>suma</span> 
										<span>{{ (boardsCount[4][0] * boardPrice).toFixed(2) }} PLN</span> 
									</div>
								</div>
								<div class="col-md-4 text-right">
									<div class="total-results">
										<span>suma</span> 
										<span>{{ ((boardsCount[5][0] *1 + boardsCount[5][1]*1 ) *boardPrice).toFixed(2) }} PLN</span> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="assets/js/libs/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/libs/angular.min.js"></script>
<script src="assets/js/libs/ui-2.5.0.min.js"></script>
<script src="assets/js/angular.route.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
<script src="assets/js/controller/AppCtrl.js"></script>
<script src="assets/js/controller/CaruselCtrl.js"></script>
<script src="assets/js/controller/CaruselFigureCtrl.js"></script>
<script src="assets/js/factory/connect.js"></script>
<script src="assets/js/factory/print.js"></script>
</html>