<!DOCTYPE html>
<html data-ng-app="app">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Boards</title>
		<link rel="stylesheet" href="assets/css/fonts.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="assets/css/style.css"/>
	</head>
<body data-ng-controller="AppCtrl">
	<div  ng-include src="'views/reckoning.html'"></div>
</body>
<script src="assets/js/libs/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="assets/js/libs/angular.min.js"></script>
<script src="assets/js/angular.route.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/controller/AppCtrl.js"></script>
<script src="assets/js/controller/CaruselCtrl.js"></script>
<script src="assets/js/controller/CaruselFigureCtrl.js"></script>
<script src="assets/js/factory/connect.js"></script>
<script src="assets/js/factory/print.js"></script>
</html>