<div class="row" data-ng-init="input.terrace.type = 0">
	<div class="col s4">
		<div class="thumbnail active" data-ng-click="input.terrace.type = 0" data-ftoggle>
			<div id="fig-1" class="figure"></div>
		</div>
	</div>
	<div class="col s4">
		<div class="thumbnail " data-ng-click="input.terrace.type = 1" data-ftoggle>
			<div id="fig-2" class="figure">
				<div class="up-rectangle"></div>
				<div class="down-rectangle"></div>
			</div>
		</div>
	</div>
	<div class="col s4">
		<div class="thumbnail" data-ng-click="input.terrace.type = 2" data-ftoggle>
			<div id="fig-3" class="figure" >
				<div class="circle"></div>
				<div class="rectangle"></div>									
			</div>
		</div>
	</div>
</div>

<div data-ng-show="input.terrace.type == 0">
	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm="#fig-1" data-ffocus-side="left" type="text" data-ng-model="input.terrace.y[0].value" class="validate">
				<label class="active"  for="board_length">Длина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width" data-ng-model="input.terrace.y[0].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края, cм.</label>
			</div>
		</div>
		
	</div>

	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm="#fig-1" data-ffocus-side="top" data-ng-model="input.terrace.x[0].value" type="text" class="validate">
				<label class="active"  for="board_width">Ширина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width" data-ng-model="input.terrace.x[0].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края, см.</label>
			</div>
		</div>
	</div>
</div>

<div data-ng-show="input.terrace.type == 1">
	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm=".down-rectangle" data-ffocus-side="left" type="text" data-ng-model="input.terrace.y[0].value" class="validate">
				<label class="active"  for="board_length">Длина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width"  data-ng-model="input.terrace.y[0].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края.</label>
			</div>
		</div>
		
	</div>

	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm=".down-rectangle" data-ffocus-side="top" data-ng-model="input.terrace.x[0].value" type="text" class="validate">
				<label class="active"  for="board_width">Ширина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width" data-ng-model="input.terrace.x[0].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края, см.</label>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm=".up-rectangle" data-ffocus-side="left" type="text"  data-ng-model="input.terrace.y[1].value" class="validate">
				<label class="active" for="board_length">Длина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width"  data-ng-model="input.terrace.y[1].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края.</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm=".up-rectangle" data-ffocus-side="top" data-ng-model="input.terrace.x[1].value" type="text" class="validate">
				<label class="active" for="board_width">Ширина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width" data-ng-model="input.terrace.x[1].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края, см.</label>
			</div>
		</div>
	</div>
</div>

<div data-ng-show="input.terrace.type == 2">
	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm=".rectangle" data-ffocus-side="left" type="text" data-ng-init="input.terrace.y[0]" data-ng-model="input.terrace.y[0].value" class="validate">
				<label class="active"  for="board_length">Длина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width" data-ng-model="input.terrace.y[0].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края.</label>
			</div>
		</div>
		
	</div>

	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm=".rectangle" data-ffocus-side="top" data-ng-init="input.terrace.x[0]" data-ng-model="input.terrace.x[0].value" type="text" class="validate">
				<label class="active"  for="board_width">Ширина тераси, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width" data-ng-model="input.terrace.x[0].margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края, см.</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s6">
			<div class="input-field">
				<input id="board_length" ffocus data-ffocus-elm=".circle" type="text"  data-ng-model="input.terrace.radius.value" class="validate">
				<label class="active" for="board_length">Радіус, м.</label>
			</div>
		</div>
		<div class="col s6">
			<div class="input-field">
				<input id="board_width" data-ng-model="input.terrace.radius.margin" type="text" class="validate">
				<label class="active"  for="board_width">Отступ от края.</label>
			</div>
		</div>
	</div>
</div>