body {
	font-size: 14px;
	color:#6c6c6c;
	font-family: "RobotoLight";
	position: relative;
	overflow-x: hidden;
}

*::-webkit-input-placeholder {
	color:#54965e;
	opacity: 1;
}

*::-moz-placeholder {
	color:#54965e;
	opacity: 1;
}

*::-moz-placeholder {
	color:#54965e;
	opacity: 1;
}

*:-ms-input-placeholder {
	color:#54965e;
	opacity: 1;
}

form[name="terraceSize"] input::-webkit-input-placeholder {
	color:#888;
	opacity: 1;
}

form[name="terraceSize"] input::::-moz-placeholder {
	color:#888;
	opacity: 1;
}

form[name="terraceSize"] input::::-moz-placeholder {
	color:#888;
	opacity: 1;
}

form[name="terraceSize"] input:::-ms-input-placeholder {
	color:#888;
	opacity: 1;
}

.main-box {
	background-color: #fff;
	-webkit-box-shadow: 0 0 27px rgba(24,24,24,.22);
	box-shadow: 0 0 27px rgba(24,24,24,.22);
	overflow:hidden;
	min-height: 600px;
	margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type='number'] {
    -moz-appearance: textfield;
    margin: 0; 
}

*:focus {
    outline: none;
}

/*MAIN SLIDER*/
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  -webkit-transition: 0.8s ease-in-out ;
  -o-transition: 0.8s ease-in-out ;
  	transition: 0.8s ease-in-out ;
  	position: absolute;
  	width: 100%;
}
.slide-left.ng-enter {
  	z-index: 100;
  	left: 100%;
  	opacity: 0;
}
.slide-left.ng-enter.ng-enter-active {
  	left: 0;
  	right: 0;
  	opacity: 1;
}
.slide-left.ng-leave {
  	z-index: 101;
  	left: 0;
  	opacity: 1;
}
.slide-left.ng-leave.ng-leave-active {
  	left: -100%;
  	opacity: 0;
}

.last .slide-left.ng-enter {
  	z-index: 100;
  	left: -100%;
}
.last .slide-left.ng-enter.ng-enter-active {
  	left: 0;
}
.last .slide-left.ng-leave {
  	z-index: 101;
  	left: 0;
}
.last .slide-left.ng-leave.ng-leave-active {
  	left: 100%;
}
/*END MAIN SLIDER*/

/*STEP-ONE*/
.step-one-box {
	width: 900px;
	margin: 0 auto;
}

.box-logo {
	background:url(../img/board.jpg) center top no-repeat;
	background-size: cover;
	padding: 30px 0 60px;
}

.logo-light {
	padding-bottom: 20px;
}

.logo-light img{
	display: inline-block;
	vertical-align: middle;
	width: 200px; 
}

.logo-light + p {
	color:#fff;
	font-size: 18px;
}

.choice {
	padding-top: 40px;
}

.choice-item .h2{
	font-family: "RobotoBlack";
	color:#54965e;
	font-size: 24px;
	text-transform: uppercase;
	margin:0 0 30px 0;
}

.choice-item-img {
	text-align: center;
	overflow:hidden;
	height: 165px;
	margin-bottom: 20px;
}

.choice-item-img img {
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.choice-list {
	list-style: none;
	margin: 0 0 10px 50px;
	padding: 0;
	min-height: 150px;
}

.choice-list li {
	padding: 0 0 0 10px;
}

.choice-list li:before {
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px 0 -10px;
	content: '-';
}

.choice-list span,
.choice-list li:before{
	font-family: "RobotoLight";
	color:#1d1c1c;
}

.btn-main {
    display: block;
    margin:0 auto 50px;
    background-color: #54965e;
    padding: 0 1px;
    color: #fff;
    border-radius: 24px;
    width: 190px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
    transition: all 0.4s;
    font-family: "RobotoBold";
    border: none;
    outline: none;
    transition: all 0.4s;
}

.btn-main:hover,
.btn-main:focus {
	opacity: 0.8;
	color: #fff;
	text-decoration: none;
}

.steps-box {
	position: absolute;
	z-index: 1;
}

.page-one .steps-box {
	top: 30px;
	left: 20px;
}

.page-three .steps-box{
	top: 40px;
	left: 20px;
}

.page-four .steps-box{
	top: 40px;
	left: 20px;
}

.steps-box ul {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
	border-bottom:3px solid #c4c4c4;
}

.steps-box ul li{
	float: left;
	width: 35px;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: -3px;
}

.steps-box ul li.active span{
	color:#54965e;
}

.steps-box ul li.active {
	border-bottom:3px solid #54965e;
}

.steps-box ul span{
	color:#c4c4c4;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	font-family: "RobotoBlack";
}

.caption-step-box {
    display: block;
    color: #54965e;
    font-family: "RobotoBlack";
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}
/*END STEP-ONE*/ 

/*STEP-TWO*/ 
.page-two .steps-box,
.page-three .steps-box,
.page-four .steps-box {
	position: static;
	padding: 20px 0 0 0;
	text-align: center;
	margin: 0 0 30px 0;
}

.page-two .steps-box > ul,
.page-three .steps-box > ul,
.page-four .steps-box > ul{
	display: inline-block;
}

.page-two .main-box {
	padding: 30px 40px 0 40px;
	min-height: auto;
	margin-bottom: 15px;
}

.choice-board {
	margin-bottom: 25px;
}

.choice-board-item {
    font-family: "RobotoBlack";
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    width: 255px;
    height: 45px;
    line-height: 42px;
    border: 3px solid #e5e5e5;
    color: #e5e5e5;
    border-radius: 6px;
    background-color: #fff;
    padding: 0	1px;
}

.choice-board-item.active {
	border:3px solid #579861;
	color:#579861;
}

.unit-size {
	background-color: #f6f6f6;
	cursor: pointer;
}

.unit-start {
	width: 100%;
	height: 60px;
	background-color: #f6f6f6;
}

.unit-start-content {
	position: absolute;
    top: 50%;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
}

.unit-start-content > span,
.unit-start-content p {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.unit-start-content > span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border:1px solid #d7d7d7;
	margin-right: 15px;
	color:#d7d7d7;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                border-color:#d7d7d7;
                color:#d7d7d7;
    }           
    50% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                border-color: #579861;
                color:#579861;
    }  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
				border-color: #d7d7d7;
				color:#d7d7d7;
    }  
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                border-color: #d7d7d7;
                color:#d7d7d7;
    }           
    50% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                border-color: #579861;
                color:#579861;
    }  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
                border-color: #d7d7d7;
                color:#d7d7d7;
    }   
}

.unit-start:hover .unit-start-content > span{
-webkit-animation: pulse  1.5s infinite ease-out;
	animation: pulse  1.5s infinite ease-out;
}

.unit-start-content p{
	display: inline-block;
	font-family: "RobotoBold";
	text-transform: uppercase;
	color:#579861;	
	font-size: 14px;
}

.unit-start-content span > span {
	font-size: 35px;
	line-height: 27px;
	font-family: "RobotoThin";
}

.unit-form {
	padding: 15px 24px;
}

.unit-form form {
	margin-bottom: 0;
}

.unit-size .form-group{
	display: inline-block;
	width: 20%;   
	margin-bottom: 20px;
}

.unit-size .form-group:nth-child(1),
.unit-size .form-group:nth-child(2),
.unit-size .form-group:nth-child(3) {
	margin-right: 4%;
}

.main-box .unit-form label {
	font-family: "RobotoLight";
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
}

form[name="formBoard"] input,
form[name="terraceSize"] input,
.box-boards button,
.unit-form button,
.carusel-figure-wrapper button{
	outline:none;
	border:none;
	background-color: transparent;
	color:#54965e;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	font-family: "RobotoBold";
}

form[name="formBoard"] input,
form[name="terraceSize"] input{
	width: 100%;
	border-bottom: 2px solid #d7d7d7;
	color:#54965e;
	padding: 5px 10px;
	background-color: transparent;
}

form[name="terraceSize"].ng-submitted input.ng-invalid,
form[name="formBoard"].ng-submitted input.ng-invalid {
	border-bottom:2px solid #ff0000;
}

.box-boards .board-butt,
.unit-form button {
	text-decoration: underline;
	line-height: 20px;
	padding: 1px;
	margin: 10px 0 0 0;
}

.box-boards .board-butt:hover,
.unit-form button:hover {
	text-decoration: none;
}

/*CARUSEL*/
.carusel-figure-wrapper,
.box-boards {
	padding: 20px 0;
}

.carusel,
.carusel-figure {
	width: 100%;
-webkit-transition: all 1s;
-o-transition: all 1s;
	transition: all 1s;
	position: relative;
	overflow: hidden;
}

.carusel {
	min-height: 400px;
}

.carusel-figure {
	min-height: 580px;
}

.carusel-item {
	width: 100%;
	height: 25%;
	top:0;
	padding: 2px 0 0;
	position: absolute;
-webkit-transition: 1s;
-o-transition: 1s;
	transition: 1s;
}

.carusel-item.slider1 {
	top:0;
}

.carusel-item.slider2 {
	top:25%;
}

.carusel-item.slider3 {
	top:50%;
}

.carusel-item.slider4 {
	top:75%;
}

.carusel-item.sliderBefore {
	top:-25%;
}

.carusel-item.sliderAfter {
	top:100%;
}

.carusel-figure-item{
	height: 25%;;
	position: absolute;
-webkit-transition: 1s;
-o-transition: 1s;
	transition: 1s;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
}

.carusel-figure-item:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.carusel-figure-item.slider1 {
	top:0;
}

.carusel-figure-item.slider2 {
	top:25%;
}

.carusel-figure-item.slider3 {
	top:50%;
}

.carusel-figure-item.slider4 {
	top:75%;
}

.carusel-figure-item.sliderBefore {
	top:-25%;
}

.carusel-figure-item.sliderAfter {
	top:100%;
}

.carusel-btn {
	display: block;
	margin:  auto;
	width: 40px;
	padding: 0 5px;
	outline: none;
    border: none;
    background-color: transparent;
}

.box-boards .carusel-prev {
	margin-bottom: 10px;
}

.carusel-figure  .carusel-btn {
	position: absolute;
    left: 0;
    right: 0;
}

.carusel-btn img {
	width: 30px;
	height: auto;
}

.carusel-prev {
	top: 10px;
}

.carusel-next {
	bottom: 10px;
}
/*END CARUSEL*/

.unit {
	overflow:hidden;
	cursor: pointer;
}

.unit:hover {
	cursor: pointer;
-webkit-box-shadow: 0 0 1px 2px rgba(84, 150, 94, 0.2);
	box-shadow: 0 0 1px 2px rgba(84, 150, 94, 0.2);
}

.unit-row {
	display: table;
}

.unit-cell {
	display: table-cell;
	vertical-align: middle;
	padding: 5px 10px;
	margin: 0 0 25px 0;
	overflow:hidden;
}

.unit-cell:nth-child(1) {
	width: 260px;
}
.unit-cell:nth-child(1) img{
	max-width: 150px;
	height: auto;
}

.unit-cell:nth-child(2) {
	width: 550px;
}

.unit-cell:nth-child(3) {
	width: 100px;
}

.unit-cell:nth-child(4) {
	width: 150px;
}

.unit-cell:nth-child(4) img {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	height: auto;
}

.unit-cell p {
	font-family: "RobotoBold";
	line-height: 25px;
	color:#3e3e3e;
	text-transform: uppercase;
	margin: 0;
}

.unit-cell p span{
	color:#979797;
}

.unit-cell span.price {
	font-family: "RobotoBlack";
	display: block;
	font-size: 19px;
	line-height: 20px;
	color:#3e3e3e;
	margin: 0;
}

.unit-cell .price sup {
	text-decoration: underline;
	font-size: 70%;
}
/*END STEP-TWO*/ 

/*STEP-THREE*/ 
.main-box.main-box-outsider {
	position: absolute;
	left: 0;
	top: 120px;
	width: 250px;
	padding: 25px 20px 27px 20px;
	min-height: 620px;
}

.main-box-outsider-bottom {
	position: absolute;
	bottom: 27px;
	width: 100%;
	left: 0;
	text-align: center;
}

.back-page {
	margin-bottom: 25px;
	display: inline-block;
	background-color: transparent;
	border:none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.back-page:hover span ,
.back-page:focus span  {
	color:#54965e;
}

.back-page img,
.back-page span {
	display: inline-block;
	vertical-align: middle;
}

.back-page img {
	max-width: 47px;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	        margin-right: -7px;
}

.back-page span {
    font-family: "RobotoBold";
    font-size: 14px;
    color: #6c6c6c;
    text-align: left;
    text-transform: uppercase;
}

.no-visible {
	visibility: hidden;
}

.carusel-figure-item {
	text-align: center;
}

.box-terrace .radio{
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	border:5px solid transparent;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
	transition: all 0.5s;
	margin: 0;
}

.radio:hover,
.box-terrace .radio.active {
	border-color:#54965e;
}

.label-type {
	display: inline-block;
}

.label-type > span {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	max-width: 120px;
	text-align: center;
}

.label-type > span img {
	display: inline-block !important;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.checkbox label, 
.radio label {
	padding-left: 0;
}

.cheking-board-img {
	text-align: center;
	margin-bottom: 25px;
	height: 85px;
}

.cheking-board-img img {
	max-width: 145px;
	width: 100%;
	height: auto;
}

.cheking-board-description {
	font-family: "RobotoBold";
	font-size: 12px;
    line-height: 17px;
    color: #3e3e3e;
    text-transform: uppercase;
    margin: 0;
	text-align: center;
	padding: 15px 0;
}

.cheking-board-price {
	border-top: 2px solid #f8f8f8;
	border-bottom: 2px solid #f8f8f8;
	margin-bottom: 35px;
	text-align: center;
	padding: 5px 0;
}

.price {
	font-family: "RobotoBlack";
    display: inline-block;
    font-size: 18px;
    line-height: 26px;
    color: #3e3e3e;
    text-align: center;
}

.price:first-child {
	margin-right: 10px;
}

.price sup {
    text-decoration: underline;
    font-size: 70%;
}

.cheking-board-terasy {
	text-align: center;
	margin-bottom: 20px;
}

.cheking-board-terasy img {
	max-width: 120px;
	border-radius: 50%;
	width: 100%;
	height: auto;
}

.terrace-figure-wrapper {
	padding: 18px 0;
	height: 290px;
}

.terrace-figure-full,
.terrace-size {
	max-width: 370px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.terrace-figure-full {
	width: 300px;
	height: 200px;
	position: relative;
	margin:20px auto 30px;
}

.terrace-figure-full > div {
	position: absolute;
	border:2px solid #E1E1E1;
	background-color: #fff;
}

.figure-square {
	width: 300px;
	height: 200px;
	border:2px solid #E1E1E1;
}

.border-a {
	top:auto;
	left:50%;
	bottom: -30px;
}

.figure-square .border-b {
	left: -20px;
	top:auto;
	bottom: 50%;
}

.figure-sqtwo-1 {
	width: 200px;
	height: 100px;
	bottom: 98px;
	top:auto;
	left: 0;
	right: 0;
	margin:auto;
}

.figure-sqtwo-2 ,
.figure-circle-2{
	width: 300px;
	height: 110px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	background-color: #fff;
}

.figure-sqtwo-2   .border-a,
.figure-circle-2  .border-a{
	top: auto;
	left: 47%;
	bottom: -25px;
}

.figure-sqtwo-2   .border-b ,
.figure-circle-2  .border-b{
	top:  37%;
	left: -18px;
}

.figure-sqtwo-1 .border-c{
	top: 35%;
	left: -18px;
	bottom: auto;
}

.figure-sqtwo-1 .border-d{
	top: auto;
	left: 44%;
	bottom: 98px;
}	

.figure-circle {
	position: relative;
}

.figure-circle-1 {
	width: 200px;
	height: 200px;
	margin: 0 auto -2px;
	border-radius: 50%;
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.circle-radius {
	position: absolute;
	width: 2px;
	height: 108px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #E1E1E1;
	top:0;
}

.figure-circle-1 .border-c {
	top: 21%;
	left: 114px;
	bottom: auto;
}

.figure-circle-1 .border-d {
	top: auto;
	left: 200px;
	bottom: 109px;
}

.terrace-figure-full .figure-boot {
	width: 300px;
	height: 200px;
	position: relative;
	border:none;
	margin: 0 auto;
	left: 40px;
}

.figure-boot-1 {
	width: 118px;
	height: 90px;
	left: 0;
	top: 15px;
	border:2px solid #E1E1E1;
	position: absolute;
	background-color: #fff;
	z-index: 1000;
	border-bottom:none;
}

.figure-boot-left {
	position: absolute;
	width: 2px;
	top: 15px;
	left: 1px;
	height: 182px;
	background-color: transparent;
	z-index: 1000;
}

.figure-boot-top {
    position: absolute;
    width: 104px;
    top: 103px;
    left: 116px;
    height: 2px;
    background-color: transparent;
    z-index: 1000;
}

.terrace-figure-full .figure-boot-2 {
	width: 220px;
	height: 97px;
	bottom: 0;
	z-index: 10;
	border: 2px solid #E1E1E1;
	position: absolute;
	background-color: #fff;
}

.figure-boot .border-a {
	top:auto;
	left: 34%;
	bottom: -20px;
}

.figure-boot .border-b {
	top:50%;
	left:-15px;
}

.figure-boot .border-d {
	top: -7px;
	left: 17%;	
}

.figure-boot .border-c {
	top: 70%;
	right: 66px;
}

.figure-boot .border-z1 {
	top: 23%;
	right: 159px;	
}

.figure-boot .border-z0 {
	top: 41%;
	left: 158px;
}

.figure-circle-2.figure-light-top.activeTop,
.figure-boot-1.figure-light.active {
	border-top-color:#ff0000;
}

.figure-boot-1.activeRight {
	border-right-color:#ff0000;
}

.figure-light.activeright {
	border-right-color:#ff0000;
}

.figure-light.active{
	border-bottom-color:#ff0000;
}

.figure-light.figure-sqtwo-1.active{
	border-top-color:#ff0000;
}

.figure-light.activeleft{
	border-left-color:#ff0000;
}
 
span.activeFigure,
.circle-width-inside.activeFigure,
.figure-boot-left.activeFigure  {
	background-color: #ff0000;
}

.circle-width-inside {
    width: 198px;
    height: 2px;
    position: absolute;
    top: -2px;
    left: 49px;
    background-color: transparent;
    z-index: 100;
}

.figure-border {
	font-family: "RobotoBold";
	position: absolute;
	color:#54965e;
	font-size: 15px;
	text-transform: uppercase;
}

.terrace-size {
	max-width: 300px;
}

.input-row {
	margin-bottom: 20px;
}

.input-row > div {
	float: left;
	width: calc( 50% - 15px );
}

.input-row > div:first-child,
.input-margin {
	margin-right: 30px
}

.input-row > label {
	font-family: "RobotoLight";
	font-size: 14px;
	font-weight: normal;
}

.btn-calc {
	display: inline-block;
	background-color: #54965e;
	color:#fff;
	border-radius:24px;
	max-width: 190px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
	transition: all 0.4s;
	font-family: "RobotoBold";
	border:none;
	outline:none;
	transition: all 0.4s;
}

.btn-calc:hover{
	opacity: 0.7;
}
/*END STEP-THREE*/ 

/*STEP-FOUR*/ 
.wrap-ter {
	padding-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.wrap-ter img {
	max-width: 270px;
	width: 100%;
	height: auto;
}

.wrap-ter img.hor-board {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.wrap-ter + .btn-main {
    width: 210px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.page-four .main-box {
    padding: 40px 20px 0 20px;
}

.position-wrap {
	border-right: 3px solid #e1e1e1;
}

.position-box {
	margin-bottom: 40px;
}

.position-box-caption {
	font-family: "RobotoBlack";
	text-transform: uppercase;
	color:#579861;
	display: block;
	margin-bottom: 15px;
}

.position-items-box {
	position: relative;
	height: 80px;
	cursor: pointer;
}

.position-items-box.active {
	background-color: #efefef;
	width: 196px;
	margin-left: -40px;
	padding-left: 40px;	
}

.position-items-box.active:after {
    display: block;
    content: '';
    position: absolute;
    right: -74px;
    z-index: 1000;
    top: -2px;
    left: auto;
    border: 42px solid transparent;
    border-left: 33px solid #efefef;
}

.position-items-box .position-iner{
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.position-iner > span {
	display: block;
}

.position-items-price {
	font-family: "RobotoBold";
	font-size: 17px;
	color:#373737;
}

.position-items-price > sup {
	text-decoration: underline;
	font-size: 70%;
}

.position-items-param {
	font-family: "RobotoBold";
	font-size: 14px;
	line-height: 16px;
	color:#979797;
}

.sending input{
	width: 150px;
	height: 33px;
	line-height: 33px;
}

.additionaly-box {
	padding: 30px 0;
}

.additionaly-row {
	display: table;
}

.additionaly-row > span {
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}

.additionaly-row > span:nth-child(1),
.additionaly-row > span:nth-child(3) {
	width: 19%;
}

.additionaly-row > span:nth-child(1) {
	text-align: left;
}

.additionaly-row span sup {
	text-decoration: none;
}

.additionaly-row span > img {
	max-width: 40px;
}

.additionaly-row .price {
	font-family: "RobotoBold";
}

.additionaly-row .price span:last-child {
	font-size: 13px;
	color:#bdbdbd;
}

.quantity-board {
	font-size: 17px;
	color:#bdbdbd;
}

.quantity-board > span {
	display: inline-block;
	vertical-align: middle;
	color:#b6b6b6;
	font-family: "RobotoLight";
	font-size: 18px;
}

.quantity-board > span:nth-child(2) {
	font-size: 24px;
}

.descriptionB {
	font-family: "RobotoBold";
	font-size: 13px;
	text-transform: uppercase;
	color:#787878;
	width: 303px;
}

.additionaly-caption {
	color:#579861;
	font-size: 16px;
	text-transform: uppercase;
	font-family: "RobotoBlack";
	display: block;
}

.additionaly-sum {
	margin-bottom: 50px;
}

.additionaly-sum > span {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

.additionaly-sum > span:first-child {
	color:#3e3e3e;
	font-family: "RobotoBold";
	margin-right: 6px;
}

.additionaly-sum > span:last-child {
	font-family: "RobotoBlack";
	color:#579861;
	font-size: 24px;
}

.additionaly-form {
	position: absolute;
	bottom: 48px;
	right: 40px;
}

form.form-send {
	text-align: right;
}

form.form-send > div{
	margin-bottom: 20px;
}

form.form-send label,
form.form-send input,
.additionaly-form .additionaly-back span,
.additionaly-form .additionaly-back button {
	display: inline-block;
	vertical-align: middle;
} 

form.form-send label {
	font-family: "RobotoLight";
	color:#6c6c6c;
	margin: 0;
	font-weight: normal;
	line-height: 20px;
	font-size: 14px;
}

form.form-send input{
	display: inline-block;
	background-color: #ebebeb;
	margin-left: 6px;
	height: 35px;
	line-height: 35;
	max-width: 200px;
	padding: 0 10px;
	color:#6c6c6c;
	border:none;
	outline:none;
	text-align: left;
}

form.form-send button {
	height: 35px;
	line-height: 35px;
	max-width: 175px;
	width: 100%;
	display: inline-block;
	font-size: 16px;
}

form.form-send button {
	margin-bottom: 20px;
}

.additionaly-form .additionaly-back button {
	background-color: #d3d3d3;
	text-align: center;
	color:#fff;
	margin: 0;
}

/*END STEP-FOUR*/ 

.figure-boot-1.figure-light.active {
	border-top-color:#ff0000;
}

.figure-boot-1.activeRight {
	border-right-color:#ff0000;
}

.figure-light.activeright {
	border-right-color:#ff0000;
}

.figure-light.active{
	border-bottom-color:#ff0000;
}

.figure-light.figure-sqtwo-1.active{
	border-top-color:#ff0000;
}

.figure-light.activeleft{
	border-left-color:#ff0000;
}
 
span.activeFigure,
.circle-width-inside.activeFigure,
.figure-boot-left.activeFigure  {
	background-color: #ff0000;
}


/*=======RESULTS PAGE=======*/
.modal-dialog{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
}

.modal-body {
	padding: 0;
}

.main-box.results-box {
	margin-bottom: 0;
	background-color:#f6f6f6;
}

.results-box {
	padding: 20px;
}

.results-terrace {
	margin: 0 auto;
}

.board-quantity {
	color:#b6b6b6;
	font-size: 20px;
}

.board-quantity > span {
	font-size: 16px;
}

.result-container {
	padding: 10px 0;
	vertical-align: middle;
	text-align: center;
}

.results-board {
	margin: 0 0 10px 0;
}

.result-container:nth-child(2) {
	width: calc( 50% - 4px);
}

.results-price,
.result-board-pic,
.board-description{
	display: inline-block;
	vertical-align: middle;
}

.results-price {
	color:#545454;
	font-family: "RobotoBold";
	font-size: 24px;
	width: calc( 20% - 4px);
	letter-spacing: -1px;
}

.results-price > sup {
	text-decoration: underline;
}

.results-price > span {
	font-family: "RobotoMedium";
	color:#bdbdbd;
	font-size: 14px;
}

.result-board-pic {
	width: calc( 20% - 4px);
}

.result-board-pic img {
	max-width: 84px;
	height: auto;
}

.board-description {
	font-family: "RobotoBold";
	color:#787878;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	width: calc( 60% - 4px);
	margin: 0;
	text-transform: uppercase;
}

.board-pocaz{
	font-family: "RobotoBold";
	color:#54965e;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	font-size: 18px;
	margin: 0 0 30px 0;
}

.board-pocaz:hover,
.board-back:hover{
	opacity: 0.5;
	text-decoration: none;
}

.board-hr {
	background-color: #ebebeb;
	height: 3px;
	width: 100%;
}

.total-results span {
	display: inline-block;
	vertical-align: middle;
}

.total-results span:first-child{
	color:#b6b6b6;
	font-size: 20px;
	font-family: "RobotoLight";
}

.total-results span:last-child{
	font-family: "RobotoBold";
	color:#54965e;
	font-size: 30px;
	padding: 0 40px 0 0;

}

.total-results-one {
	padding: 0 0 0 40px;
}

.board-back{
	font-family: "RobotoBold";
	color:#54965e;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	font-size: 30px;
}
/*=======END RESULTS PAGE=======*/

.box-00{
	display: none !important;
}

.canvas {
	margin-bottom: 20px;
}

.canvas,
.canvas0,
.canvas1,
.canvas2{
	left: 0;
	right: 0;
	margin:0 auto;
	width:600px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.box {
	position: absolute;
	z-index: 0;
	overflow: hidden;
}

.board {
	position: absolute;
	border:1px solid #fff;
	z-index: 0;
}





/*=======END RECONING PAGE=======*/}