body {
	font-size: 16px;
	color:#6c6c6c;
	font-family: "RobotoLight";
}

.container { 
	width: 1300px !important;
}

.canvas,
.canvas0,
.canvas1,
.canvas2{
	width: 392px;
	position: relative;
	z-index: 0;
	background-color: #f3f3f3;
}

.box {
	position: absolute;
	background-color: rgba(50,50,50,0.5);
	z-index: 0;
	overflow-x: hidden;
}

.board {
	position: absolute;
	border:1px solid #fff;
	z-index: 0;
}

*:focus {
    outline: none;
}

.main-box {
	background-color: #fff;
	-webkit-box-shadow: 0 0 27px rgba(24,24,24,.22);
	box-shadow: 0 0 27px rgba(24,24,24,.22);
	overflow:hidden;
	min-height: 600px;
}
/*=======END RECONING PAGE=======*/
/*CARUSEL*/
.carusel-figure-wrapper,
.box-boards {
	padding: 35px 0;
}

.carusel,
.carusel-figure {
	width: 100%;
-webkit-transition: all 1s;
-o-transition: all 1s;
	transition: all 1s;
	position: relative;
	overflow: hidden;
	min-height: 600px;
}

.carusel-item {
	height: 50%;;
	position: absolute;
-webkit-transition: 1s;
-o-transition: 1s;
	transition: 1s;
	top:0;
}

.carusel-item.slider1 {
	top:0;
}

.carusel-item.slider2 {
	top:50%;
}

.carusel-item.sliderBefore {
	top:-50%;
}

.carusel-item.sliderAfter {
	top:100%;
}

.carusel-figure-item{
	height: 25%;;
	position: absolute;
-webkit-transition: 1s;
-o-transition: 1s;
	transition: 1s;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
}

.carusel-figure-item:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.carusel-figure-item.slider1 {
	top:0;
}

.carusel-figure-item.slider2 {
	top:25%;
}

.carusel-figure-item.slider3 {
	top:50%;
}

.carusel-figure-item.slider4 {
	top:75%;
}

.carusel-figure-item.sliderBefore {
	top:-25%;
}

.carusel-figure-item.sliderAfter {
	top:100%;
}

.carusel-btn {
	display: block;
	margin:  auto;
	width: 40px;
	padding: 0 5px;
	outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
}

.carusel-btn img {
	width: 30px;
	height: auto;
}

.carusel-prev {
	top: 10px;
}

.carusel-next {
	bottom: 10px;
}
/*END CARUSEL*/
/*LOGO*/
.logo-wrapper {
	padding: 10px 0 0 0;
	margin: 0 0 15px 0;
}

.logo-wrapper img {
	max-width: 200px;
	width: 100%;
	height: auto;
}
/*END LOGO*/
/*LEFT COL*/
.unit {
	min-height: 251px;
	overflow:hidden;
	margin: 5px 0;
}

.unit:not(.unit-size){
	cursor: pointer;
}

.unit:not(.unit-size):hover,
.unit.active:not(.unit-size) {
	cursor: pointer;
-webkit-box-shadow: 0 0 1px 2px rgba(84, 150, 94, 0.2);
	box-shadow: 0 0 1px 2px rgba(84, 150, 94, 0.2);
}

.unit.unit-size {
	background-color: #f6f6f6;
	position: relative;
	cursor: pointer;
}

.unit-start {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	background-color: #f6f6f6;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
	transition: 0.5s;
}

.unit-start-content {
	position: absolute;
    top: 50%;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.unit-start-content > span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border:1px solid #d7d7d7;
	margin-bottom: 15px;
	color:#d7d7d7;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                border-color:#d7d7d7;
                color:#d7d7d7;
    }           
    50% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                border-color: #579861;
                color:#579861;
    }  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
				border-color: #d7d7d7;
				color:#d7d7d7;
    }  
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
                border-color: #d7d7d7;
                color:#d7d7d7;
    }           
    50% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                border-color: #579861;
                color:#579861;
    }  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
                border-color: #d7d7d7;
                color:#d7d7d7;
    }   
}

.unit-start:hover .unit-start-content > span{
-webkit-animation: pulse  1.5s infinite ease-out;
	animation: pulse  1.5s infinite ease-out;
}

.unit-start-content p{
	font-family: "RobotoBold";
	font-size: 18px;
	color:#579861;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
	transition: all 0.5s;	
}

.unit:not(.unit-size):hover p {
	color:#54965e;
}

.unit-start-content span > span {
	font-size: 35px;
	line-height: 27px;
	font-family: "RobotoThin";
}

.unit-form {
	padding: 20px 24px;
}

.form-group {
    margin-bottom: 10px;
}

.main-box .unit-form label {
	font-family: "RobotoLight";
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
}

.main-box input,
.box-boards button,
.carusel-figure-wrapper button{
	outline:none;
	border:none;
	background-color: transparent;
	color:#54965e;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	font-family: "RobotoBold";
}

.box-boards .board-butt {
	text-decoration: underline;
	line-height: 20px;
	padding: 1px;
}

.box-boards .board-butt:hover {
	text-decoration: none;
}

.main-box input {
	width: 100%;
	border-bottom: 3px solid #d7d7d7;
	color:#54965e;
	padding: 5px 10px;
	background-color: transparent;
}

.box-boards .main-box button {
	margin-top: 5px;
	text-decoration: underline;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
	transition: 0.5s;
}

.box-boards .main-box button:hover {
	text-decoration: none;
}

.unit-picture {
	height: 140px;
	line-height: 140px;
	text-align: center;
	position: relative;
	overflow:hidden;
	margin-bottom: 10px;
-webkit-transition: all 1.5s;
-o-transition: all 1.5s;
	transition: all 1.5s;
}

.unit:not(.unit-size):hover .unit-picture {
-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	    transform: scale(1.1);
}

.unit-picture img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.unit-description {
	font-family: "RobotoMedium";
	text-transform: uppercase;
	font-size: 12px;
	color:#000;
}

.unit-price {
	font-family: "RobotoBold";
	font-size: 20px;
	display: block;
	color:#000;
	letter-spacing: -1px;
	border-top:1px solid #f6f6f6;
	border-bottom:1px solid #f6f6f6;
	padding: 5px 0;
}

.unit-price sup {
	font-size: 12px;
	text-decoration: underline;
}

/*END LEFT COL*/
/*RIGHT COL*/
.main-box-terrace{
	position: relative;
	opacity: 0.3;
	-webkit-filter:blur(4px);
	filter:blur(4px);
-webkit-transition: all 0.7s;
-o-transition: all 0.7s;
	transition: all 0.7s;
}

.disabled-terrace:after{
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.main-box-terrace.active {
-webkit-filter:blur(0px);
	filter:blur(0px);
	opacity: 1;
}

.no-visible {
	visibility: hidden;
}

.carusel-figure-item {
	text-align: center;
}

.box-terrace .radio{
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	border:5px solid transparent;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
	transition: all 0.5s;
	margin: 0;
}

.radio:hover,
.box-terrace .radio.active {
	border-color:#54965e;
}

.label-type {
	display: inline-block;
}

.label-type > span {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	max-width: 120px;
	text-align: center;
}

.label-type > span img {
	display: inline-block !important;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.checkbox label, 
.radio label {
	padding-left: 0;
}

.terrace-figure-wrapper {
	padding: 20px 0;
	height: 340px;
}

.terrace-figure-full,
.terrace-size {
	max-width: 370px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.terrace-figure-full {
	width: 370px;
	height: 250px;
	position: relative;
	margin:20px auto 30px;
}

.terrace-figure-full > div {
	position: absolute;
	border:2px solid #E1E1E1;
	background-color: #fff;
}

.figure-square {
	width: 370px;
	height: 250px;
	border:2px solid #E1E1E1;
}

.border-a {
	top:auto;
	left:50%;
	bottom: -30px;
}

.figure-square .border-b {
	left: -20px;
	top:auto;
	bottom: 50%;
}

.figure-sqtwo-1 {
	width: 220px;
	height: 110px;
	bottom: 138px;
	top:auto;
	left: 0;
	right: 0;
	margin:auto;
}

.figure-sqtwo-2 ,
.figure-circle-2{
	width: 370px;
	height: 140px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	background-color: #fff;
}

.figure-sqtwo-2   .border-a,
.figure-circle-2  .border-a{
	top: auto;
	left: 50%;
	bottom: -30px;
}

.figure-sqtwo-2   .border-b ,
.figure-circle-2  .border-b{
	top:  37%;
	left: -20px;
}

.figure-sqtwo-1 .border-c{
	top: 35%;
	left: -20px;
	bottom: auto;
}

.figure-sqtwo-1 .border-d{
	top: auto;
	left: 53%;
	bottom: 109px;
}	

.figure-circle {
	position: relative;
}

.figure-circle-1 {
	width: 220px;
	height: 220px;
	margin: 0 auto -2px;
	border-radius: 50%;
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.circle-radius {
	position: absolute;
	width: 2px;
	height: 108px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #E1E1E1;
	top:0;
}

.figure-circle-1 .border-c {
	top: 21%;
	left: 114px;
	bottom: auto;
}

.figure-circle-1 .border-d {
	top: auto;
	left: 200px;
	bottom: 109px;
}

.terrace-figure-full .figure-boot {
	width: 250px;
	height: 250px;
	position: relative;
	border:none;
	margin: 0 auto;
}

.figure-boot-1 {
	width: 125px;
	height: 127px;
	left: 0;
	border:2px solid #E1E1E1;
	position: absolute;
	background-color: #fff;
	z-index: 1000;
	border-bottom:none;
}

.figure-boot-left {
	position: absolute;
	width: 2px;
	top: 0px;
	left: 1px;
	height: 250px;
	background-color: transparent;
	z-index: 1000;
}

.figure-boot-top {
	position: absolute;
	width: 125px;
	top: 125px;
	left: 124px;
	height: 2px;
	background-color: transparent;
	z-index: 1000;
}

.terrace-figure-full .figure-boot-2 {
	width: 250px;
	height: 125px;
	bottom: 0;
	z-index: 10;
	border: 2px solid #E1E1E1;
	position: absolute;
	background-color: #fff;
}

.figure-boot .border-a {
	top:auto;
	left:50%;
	bottom: -30px;
}

.figure-boot .border-b {
	top:50%;
	left:-30px;
}

.figure-boot .border-d {
	top: -30px;
	left: 20%;	
}

.figure-boot .border-c {
	top: 70%;
	right: -30px;
}

.figure-boot .border-z0 {
	top: 19%;
	right: 97px;	
}

.figure-boot .border-z1 {
	top: 40%;
	left: 170px;
}

.figure-boot-1.figure-light.active {
	border-top-color:#ff0000;
}

.figure-boot-1.activeRight {
	border-right-color:#ff0000;
}

.figure-light.activeright {
	border-right-color:#ff0000;
}

.figure-light.active{
	border-bottom-color:#ff0000;
}

.figure-light.figure-sqtwo-1.active{
	border-top-color:#ff0000;
}

.figure-light.activeleft{
	border-left-color:#ff0000;
}
 
span.activeFigure,
.circle-width-inside.activeFigure,
.figure-boot-left.activeFigure  {
	background-color: #ff0000;
}

.circle-width-inside {
	width: 219px;
	height: 2px;
	position: absolute;
	top: -2px;
	left: 73px;
	background-color:transparent;
	z-index: 100;
}

.figure-border {
	font-family: "RobotoBold";
	position: absolute;
	color:#54965e;
	font-size: 18px;
	text-transform: uppercase;
}

.terrace-size {
	max-width: 330px;
}

.input-row {
	margin-bottom: 20px;
}

.input-row > div {
	float: left;
	width: calc( 50% - 15px );
}

.input-row > div:first-child {
	margin-right: 30px
}

.input-row > label {
	font-family: "RobotoLight";
	font-size: 14px;
	font-weight: normal;
}

.btn-calc {
	display: inline-block;
	background-color: #54965e;
	color:#fff;
	border-radius:24px;
	max-width: 270px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
	transition: all 0.4s;
	font-family: "RobotoBold";
	border:none;
	outline:none;
	transition: all 0.4s;
}

.btn-calc:hover{
	opacity: 0.7;
}

/*END RIGHT COL*/
/*=======END RECONING PAGE=======*/

/*=======RESULTS PAGE=======*/
.modal-dialog{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
}

.modal-body {
	padding: 0;
}

.results-box {
	padding: 20px;
}

.results-terrace {
	margin: 0 auto;
}

.board-quantity {
	color:#b6b6b6;
	font-size: 20px;
}

.board-quantity > span {
	font-size: 16px;
}

.result-container {
	padding: 10px 0;
	vertical-align: middle;
	text-align: center;
}

.results-board {
	margin: 0 0 10px 0;
}

.result-container:nth-child(2) {
	width: calc( 50% - 4px);
}

.results-price,
.result-board-pic,
.board-description{
	display: inline-block;
	vertical-align: middle;
}

.results-price {
	color:#545454;
	font-family: "RobotoBold";
	font-size: 24px;
	width: calc( 20% - 4px);
	letter-spacing: -1px;
}

.results-price > sup {
	text-decoration: underline;
}

.results-price > span {
	font-family: "RobotoMedium";
	color:#bdbdbd;
	font-size: 14px;
}

.result-board-pic {
	width: calc( 20% - 4px);
}

.result-board-pic img {
	max-width: 84px;
	height: auto;
}

.board-description {
	font-family: "RobotoBold";
	color:#787878;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	width: calc( 60% - 4px);
	margin: 0;
	text-transform: uppercase;
}

.board-pocaz{
	font-family: "RobotoBold";
	color:#54965e;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	font-size: 18px;
	margin: 0 0 30px 0;
}

.board-pocaz:hover,
.board-back:hover{
	opacity: 0.5;
	text-decoration: none;
}

.board-pocaz + hr {
	background-color: #ebebeb;
	height: 3px;
	width: 100%;
}

.total-results {
	font-family: "RobotoBold";
	color:#54965e;
	font-size: 30px;
	padding: 0 40px 0 0;

}

.total-results span{
	color:#b6b6b6;
	font-size: 20px;
	font-family: "RobotoLight";
}

.total-results-one {
	padding: 0 0 0 40px;
}

.board-back{
	font-family: "RobotoBold";
	color:#54965e;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	font-size: 30px;
}
/*=======END RESULTS PAGE=======*/}